.modal-hidden {
    display: none;
}

.modal-visible {
    display: block;
    top: 30px;
    left: 5%;
    height: 500px;
    width: 500px;
    z-index: 99;
    position: fixed;
    background-color: white;
    border: 1px solid black;}

main {
    z-index: 1;
}