.modal-hidden {
    display: none;
}

.modal-visible {
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    height: 375px;
    width: 525px;
    z-index: 99;
    background-color: white;
    border: 1px solid black;
}

main {
    z-index: 1;
}

.theme-toggle {
    position: relative;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebddb1;
    border-radius: 30px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "☀️";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

input:checked+.slider {
    background-color: #002544;
}

input:checked+.slider:before {
    transform: translateX(30px);
    content: "🌙";
}


/* Dark mode styles */
[data-bs-theme="dark"] {
    background-color: #252227;
    color: #fff;
}

/* Animation for content */
.content {
    transition: all 0.3s ease-in-out;
}

.bg-cover {
    background-image: url('https://rare-gallery.com/mocahbig/427407-photography-mountains-snow-clouds-nature-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-10%);
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frosted-glass-dark {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.toggle-styling {
    top: 40px;
    right: 50px;
}

/* The Sin Bin */

.bg-container {
    background-image: url('https://rare-gallery.com/mocahbig/427407-photography-mountains-snow-clouds-nature-landscape.jpg');
    background-size: cover;
    background-position: center;
}

.break-box {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.bounding-box {
    max-width: 480px;
    min-width: 480px;
}